<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<phpunit bootstrap="/Users/nclifton/github/reaxml-import/tests/bootstrap.php" verbose="true">
	<php>
		<var name="DB_DSN" value="mysql:dbname=sites_reaxml;host=joomla.box"/>
		<var name="DB_USER" value="root"/>
		<var name="DB_PASSWD" value="root"/>
		<var name="DB_DBNAME" value="sites_reaxml"/>
		<var name="DB_TBLPREFIX" value="j_"/>
		<var name="SERVER_NAME" value="joomla.box/reaxml"/>
		<var name="MAILCATCHER_HTTP_PORT" value="1080"/>
		<server name="HTTP_USER_AGENT" value="Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.6 (KHTML, like Gecko) Chrome/16.0.897.0 Safari/535.6"/>
		<server name="HTTP_HOST" value="localhost"/>
		<const name="JPATH_CONFIGURATION" value="/Users/nclifton/github/reaxml-import/tests"/>
		<const name="USE_SSH2" value="true"/>
		<const name="JOOMLA_INSTALL" value="/Users/nclifton/vagrant/joomlatools/www/reaxml"/>
		<const name="EZREALTY_INSTALL_FILE" value="/home/vagrant/Projects/reaxml-import/build/pkg_com_ezrealty_7.2.1.zip"/>
		<const name="COMPONENT_INSTALL_FILE" value="/home/vagrant/Projects/reaxml-import/releases/com_reaxmlimport_1.6.0.zip"/>
		<const name="LIBRARY_INSTALL_FILE" value="/home/vagrant/Projects/reaxml-import/releases/lib_reaxml_1.6.0.zip"/>

	</php>
	<logging>
		<log target="/Users/nclifton/github/reaxml-import/tests/test-results/logfile.xml" logIncompleteSkipped="false" type="junit"/>
		<log target="/Users/nclifton/github/reaxml-import/tests/test-results/testdox.html" type="testdox-html"/>
	</logging>

	<testsuites>
		<testsuite name="all">
			<file>importer_Test.php</file>
			<file>importer_db_Test.php</file>
			<file>maphelper_Test.php</file>
			<directory>ezr</directory>
			<directory>ezr/col</directory>
		</testsuite>
		<testsuite name="ezr">
			<directory>ezr</directory>
		</testsuite>
		<testsuite name="importer">
			<file>importer_Test.php</file>
			<file>importer_db_Test.php</file>
		</testsuite>
		<testsuite name="col">
			<directory>ezr/col</directory>
		</testsuite>
		<testsuite name="dbo">
			<file>ezr/images_Test.php</file>
			<file>ezr/row_Test.php</file>
			<file>ezr/dbo_Test.php</file>
			<file>ezr/dbo_lookup_Test.php</file>
			<file>ezr/dbo_update_Test.php</file>
		</testsuite>
		<testsuite name="type">
			<file>ezr/col/type_Test.php</file>
			<file>ezr/col/type_business_Test.php</file>
			<file>ezr/col/type_commercial_Test.php</file>
			<file>ezr/col/type_commercialLand_Test.php</file>
			<file>ezr/col/type_land_Test.php</file>
			<file>ezr/col/type_residential_Test.php</file>
			<file>ezr/col/type_rural_Test.php</file>
		</testsuite>
		<testsuite name="sold">
			<file>ezr/col/sold_Test.php</file>
			<file>ezr/col/sold_current_Test.php</file>
			<file>ezr/col/sold_leased_Test.php</file>
			<file>ezr/col/sold_offmarket_Test.php</file>
			<file>ezr/col/sold_sold_Test.php</file>
			<file>ezr/col/sold_underoffer_Test.php</file>
			<file>ezr/col/sold_withdrawn_Test.php</file>
		</testsuite>
	</testsuites>
</phpunit>
