<?xml version="1.0" encoding="UTF-8"?>
<phpunit verbose="true" bootstrap="bootstrap.php">
	<php>
		<var name="DB_DSN" value="mysql:dbname=joomla-reaxml;host=localhost" />
		<var name="DB_USER" value="root" />
		<var name="DB_PASSWD" value="root" />
		<var name="DB_DBNAME" value="joomla-reaxml" />
		<var name="DB_TBLPREFIX" value="jos_" />
		<server name="HTTP_USER_AGENT" value="Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.6 (KHTML, like Gecko) Chrome/16.0.897.0 Safari/535.6" />
		<server name="HTTP_HOST" value="localhost" />
	</php>
	<logging>
		<log type="junit" target="test-results/logfile.xml"
			logIncompleteSkipped="false" />
		<log type="testdox-html" target="test-results/testdox.html" />
	</logging>
	<selenium>
		<browser name="Firefox" browser="*firefox /Applications/Firefox.app"
			host="localhost" port="4444" timeout="30000" />
	</selenium>

</phpunit>