<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<phpunit bootstrap="/Users/nclifton/git/reaxml-import/REAXMLImport/tests/bootstrap.php" verbose="true">
	<php>
		<var name="DB_DSN" value="mysql:dbname=joomla-reaxml;host=localhost"/>
		<var name="DB_USER" value="root"/>
		<var name="DB_PASSWD" value="root"/>
		<var name="DB_DBNAME" value="joomla-reaxml"/>
		<var name="DB_TBLPREFIX" value="jos_"/>
        <var name="SERVER_NAME" value="reaxml.dev"/>
		<var name="MAILCATCHER_HTTP_PORT" value="1080"/>
		<server name="HTTP_USER_AGENT" value="Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.6 (KHTML, like Gecko) Chrome/16.0.897.0 Safari/535.6"/>
		<server name="HTTP_HOST" value="reaxml.dev"/>
	</php>
	<testsuites>
		<testsuite name="REAXML Import Test Suite">
			<directory suffix="_Test.php">/Users/nclifton/git/reaxml-import/REAXMLImport/tests</directory>
			<directory suffix="_Test.php">/Users/nclifton/git/reaxml-import/REAXMLImport/tests/selenium</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log target="/Users/nclifton/git/reaxml-import/REAXMLImport/tests/test-results/logfile.xml" type="junit"/>
		<log target="/Users/nclifton/git/reaxml-import/REAXMLImport/tests/test-results/testdox.html" type="testdox-html"/>
	</logging>
	<selenium>
		<browser browser="*firefox /Applications/Firefox.app" host="localhost" name="firefox" port="4444" timeout="30000"/>
	</selenium>
	<listeners>
		<listener class="SeleniumTestListener" file="../tests/selenium/testlistener.php">

		</listener>
	</listeners>

</phpunit>
