<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (C) 2014 Clifton IT Foundries Pty Ltd All rights reserved. 
	GNU General Public License version 2 or later; see LICENSE.txt -->
<config>
	<fieldset name="folders" label="COM_REAXMLIMPORT_FOLDERS"
		description="COM_REAXMLIMPORT_FOLDERS_DESC"
		addfieldpath="/administrator/components/com_reaxmlimport/models/fields">
		<field name="input_dir" type="folderbrowser"
			default="input" label="COM_REAXMLIMPORT_INPUT_DIR_LABEL"
			description="COM_REAXMLIMPORT_INPUT_DIR_DESC"
			urlinputid="input_url">
		</field>
		<field name="input_url" type="text" default="/input"
			label="COM_REAXMLIMPORT_INPUT_URL_LABEL" description="COM_REAXMLIMPORT_INPUT_URL_DESC">
		</field>
		<field name="work_dir" type="folderbrowser"
			default="work" label="COM_REAXMLIMPORT_WORK_DIR_LABEL"
			description="COM_REAXMLIMPORT_WORK_DIR_DESC" urlinputid="work_url">
		</field>
		<field name="work_url" type="text" default="/work"
			label="COM_REAXMLIMPORT_WORK_URL_LABEL" description="COM_REAXMLIMPORT_WORK_URL_DESC">
		</field>
		<field name="done_dir" type="folderbrowser"
			default="done" label="COM_REAXMLIMPORT_DONE_DIR_LABEL"
			description="COM_REAXMLIMPORT_DONE_DIR_DESC" urlinputid="done_url">
		</field>
		<field name="done_url" type="text" default="/done"
			label="COM_REAXMLIMPORT_DONE_URL_LABEL" description="COM_REAXMLIMPORT_DONE_URL_DESC">
		</field>
		<field name="log_dir" type="folderbrowser"
			default="log" label="COM_REAXMLIMPORT_LOG_DIR_LABEL"
			description="COM_REAXMLIMPORT_LOG_DIR_DESC" urlinputid="log_url">
		</field>
		<field name="log_url" type="text" default="/log"
			label="COM_REAXMLIMPORT_LOG_URL_LABEL" description="COM_REAXMLIMPORT_LOG_URL_DESC">
		</field>
		<field name="error_dir" type="folderbrowser"
			default="error" label="COM_REAXMLIMPORT_ERROR_DIR_LABEL"
			description="COM_REAXMLIMPORT_ERROR_DIR_DESC" urlinputid="error_url">
		</field>
		<field name="error_url" type="text" default="/error"
			label="COM_REAXMLIMPORT_ERROR_URL_LABEL" description="COM_REAXMLIMPORT_ERROR_URL_DESC">
		</field>
	</fieldset>
	<fieldset name="notifications" label="COM_REAXMLIMPORT_NOTIFICATIONS" description="COM_REAXMLIMPORT_NOTIFICATIONS_DESC">
        <field name="send_success"
               type="radio"
               class="btn-group btn-group-yesno"
               label="COM_REAXMLIMPORT_SEND_SUCCESS_LABEL"
               description="COM_REAXMLIMPORT_SEND_SUCCESS_LABEL_DESC"
               default="1"
               filter="integer" >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="send_nofiles"
               type="radio"
               class="btn-group btn-group-yesno"
               label="COM_REAXMLIMPORT_SEND_NOFILES_LABEL"
               description="COM_REAXMLIMPORT_SEND_NOFILES_LABEL_DESC"
               default="0"
               filter="integer" >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="done_mail_to"
               type="email"
               class="inputbox"
               validate="email"
               label="COM_REAXMLIMPORT_DONE_MAIL_TO_LABEL"
               description="COM_REAXMLIMPORT_DONE_MAIL_TO_LABEL_DESC"
               size="500" >
        </field>
        <field name="error_mail_to"
               type="email"
               class="inputbox"
               validate="email"
               label="COM_REAXMLIMPORT_ERROR_MAIL_TO_LABEL"
               description="COM_REAXMLIMPORT_ERROR_MAIL_TO_LABEL_DESC"
               size="500" >
        </field>
        <field name="mail_from_address"
               type="email"
               class="inputbox"
               validate="email"
               label="COM_REAXMLIMPORT_MAIL_FROM_ADDRESS_LABEL"
               description="COM_REAXMLIMPORT_MAIL_FROM_ADDRESS_LABEL_DESC"
               size="50" >
        </field>
        <field name="mail_from_name"
               type="text"
               class="inputbox"
               label="COM_REAXMLIMPORT_MAIL_FROM_NAME_LABEL"
               description="COM_REAXMLIMPORT_MAIL_FROM_NAME_LABEL_DESC"
               size="50" >
        </field>
        <field name="subject"
               type="text"
               class="inputbox"
               default="REAXML Import Notification: {status}"
               label="COM_REAXMLIMPORT_SUBJECT_LABEL"
               description="COM_REAXMLIMPORT_SUBJECT_LABEL_DESC"
               size="255" >
        </field>
	</fieldset>
	<fieldset name="usemap" label="COM_REAXMLIMPORT_MAPDATA" description="COM_REAXMLIMPORT_MAPDATA_DESC">
		<field name="usemap" type="radio" default="0" filter="integer"
               class="btn-group"
               label="COM_REAXMLIMPORT_USEMAP_LABEL" description="COM_REAXMLIMPORT_USEMAP_DESC">
			<option value="0">COM_REAXMLIMPORT_USEMAP_NEVER</option>
			<option value="1">COM_REAXMLIMPORT_USEMAP_IF_NEW</option>
			<option value="2">COM_REAXMLIMPORT_USEMAP_ALWAYS</option>
		</field>
	</fieldset>
	<fieldset name="update" label="COM_REAXMLIMPORT_UPDATE" description="COM_REAXMLIMPORT_UPDATE_DESC">
		<field name="update_dlid" type="text" default=""
			label="COM_REAXMLIMPORT_DOWNLOAD_ID_LABEL" description="COM_REAXMLIMPORT_DOWNLOAD_ID_DESC">
		</field>
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox" validate="rules" filter="rules" component="com_reaxmlimport"
			section="component">
		</field>
	</fieldset>
</config>